body {
  overflow-x: hidden;
}
.effect-3 {
  left: 90%;
  top: 10%;
}
.effect-3::before {
  left: -35px;
}

.effect-5 {
  right: 80%;
}
.head {
  border-left: none;
  border-right: 2px solid var(--yellow-color);
  background-position: right bottom;
  overflow: hidden;
}

.head:hover {
  background-position: left bottom;
  color: #fff;
}
/* End Global Rules */
/* Start Home */
.home {
  overflow-x: hidden;
}
.home h3 {
  /* border-left: 1px solid var(--yellow-color); */
  /* border-right: none; */
}
/* End Home */
/* Start About */
.about p {
  letter-spacing: 0;
}
/* End About */

/* Start Footer */
.footer div ul a i {
  margin-left: 4px;
}
/* End Footer */
